<ion-header>

  <ion-navbar>
    <ion-title>YOUR FAVORITES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--NEW STYLE-->
  <div *ngFor="let item of favDetails; let i = index">
    <div *ngIf="!IS_REMOVED[i]">
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{item.data.AVATAR_URL}}">
          </ion-avatar>
          <h2>{{item.data.NAME}}</h2>
          <p>{{item.data.PHONE}}</p>
        </ion-item>
        <ion-slides pager>
          <ion-slide *ngFor="let photo of item.data.PHOTOS, let i=index">
            <img style="width: 100%" src="{{item.data.PHOTOS[i]}}">
          </ion-slide>
        </ion-slides>

        <ion-card-content>
          <p>{{item.data.new_KIND}}</p>
          <div *ngIf="!IS_DETAILED[i]">
            <ion-item>
              <h3>$ {{item.data.new_PRICE}}</h3>
              <button ion-button outline item-right icon-left (click)="showMore(i)">
                <ion-icon name="ios-arrow-down" padding></ion-icon>
              </button>
            </ion-item>
          </div>
          <div *ngIf="IS_DETAILED[i]">
            <ion-item>
              <button ion-button color="danger" outline item-right icon-left (click)="showLess(i)">
                <ion-icon name="ios-arrow-up" padding></ion-icon>
              </button>
            </ion-item>
            <ion-item>
              <h4>GIÁ:</h4>
              <ion-icon name="ios-cash-outline" item-left small></ion-icon>
              <p>{{item.data.new_PRICE}} VND</p>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-resize-outline" item-left small></ion-icon>
              <h4>DTSD:</h4>
              <p>DT sàn: {{item.data.GROUNDSQUARES}} m2</p>
              <p>DT sử dụng: {{item.data.USEDSQUARES}} m2</p>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-locate-outline" item-left small></ion-icon>
              <h4>TIỆN ÍCH:</h4>

              <p *ngIf="item.data.hasSCHOOL">Trường học ......{{item.data.hasSCHOOLFAR}} m</p>

              <p *ngIf="item.data.hasHOSPITAL">Bệnh viện .........{{item.data.hasHOSPITALFAR}} m</p>

              <p *ngIf="item.data.hasMART">Siêu thị .............{{item.data.hasMARTFAR}} m</p>

              <p *ngIf="item.data.hasCENTER">Trung tâm .........{{item.data.hasCENTERFAR}} m</p>

            </ion-item>

            <ion-item>
              <ion-icon name="ios-home-outline" item-left small></ion-icon>
              <h4>Address: </h4>
              <p>{{item.data.ADDRESS}}</p>
            </ion-item>
          </div>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12</div>
          </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4</div>
          </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.data.POSTDATE}}
            </ion-note>
          </ion-col>
        </ion-row>
        <button ion-button block color="danger" (click)="onDeleteFromFavorite(item._key,i)">Delete</button>
      </ion-card>
    </div>
  </div>
</ion-content>