<ion-header>

  <ion-navbar>
    <ion-title>ACCOUNT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="action==='signIn'">
    <form #myForm="ngForm">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="signIn.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="signIn.password" name="password"></ion-input>
      </ion-item>
    </form>
    <button ion-button block (click)="onSignIn(myForm)" [disabled]="!btnSignIn">Sign In</button>
  </div>
  <div *ngIf="action==='signUp'">
    <form #myForm1="ngForm">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="signUp.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="signUp.password1" name="password1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Re-type Password</ion-label>
        <ion-input type="password" [(ngModel)]="signUp.password2" name="password2"></ion-input>
      </ion-item>
    </form>
    <button ion-button block (click)="onSignUp(myForm1)" [disabled]="!btnSignUp">Sign Up</button>
  </div>
  <div *ngIf="action==='resetAccount'">
  <form #myForm2 = "ngForm">
    <ion-item>
      <ion-label floating>Email to reset account:</ion-label>
      <ion-input type="email" [(ngModel)]="resetAccount.email" name="email"></ion-input>
    </ion-item>
  </form>
  <button ion-button block (click)="onResetAccount(myForm2)" [disabled]="!btnReset">Reset Account</button>
</div>
</ion-content>